<template>
  <v-app dark>
    <v-container fluid list-grid-xl="" class="pa-0">
      <v-layout row="" wrap="" align-center="" justify-center="">
        <v-flex xs12="" sm6="" md4="" xl3="">
          <v-card flat="" tile="">
            <v-app-bar fixed hide-on-scroll flat>
              <v-toolbar-title class="green--text">
                Hitungan Grab
              </v-toolbar-title>
              <v-spacer />
              <v-btn icon>
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </v-app-bar>
            <v-card-text class="pt-5 pa-0">
              <v-content class="pt-5">
                <nuxt />
              </v-content>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>
