<template>
  <v-container>
    <v-row justify="center">
      <v-col>
        <v-form ref="form" v-model="valid">
          <v-card>
            <v-container>
              <v-row dense>
                <v-col cols="5">
                  <v-subheader>Sub Total</v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="form.subTotal"
                    hide-details="auto"
                    color="success"
                    label="50.0000"
                    single-line
                    :rules="rules"
                    dense
                    type="number"
                    min="0"
                    outlined
                    prefix="Rp"
                  />
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="5">
                  <v-subheader>Diskon</v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="form.diskon"
                    hide-details="auto"
                    color="success"
                    label="50"
                    single-line
                    :rules="rules"
                    type="number"
                    dense
                    min="0"
                    outlined
                    suffix="%"
                  />
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="5">
                  <v-subheader>Ongkir + Biaya lain</v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="form.additionalFees"
                    hide-details="auto"
                    color="success"
                    label="4.000"
                    :rules="rules"
                    single-line
                    outlined
                    dense
                    type="number"
                    min="0"
                    prefix="Rp"
                  />
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="5">
                  <v-subheader>Jumlah Orang</v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="form.people"
                    hide-details="auto"
                    color="success"
                    label="4"
                    :rules="rules"
                    dense
                    type="number"
                    min="1"
                    single-line
                    outlined
                  />
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="5">
                  <v-subheader>Maksimal Diskon</v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="form.diskonMaks"
                    hide-details="auto"
                    color="success"
                    label="25.000"
                    dense
                    type="number"
                    :rules="rules"
                    min="0"
                    single-line
                    outlined
                    prefix="Rp"
                  />
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="5">
                  <v-subheader>Diskon yang Didapat</v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="form.diskonObtained"
                    hide-details="auto"
                    dense
                    single-line
                    :rules="rules"
                    solo
                    min="0"
                    disabled
                    prefix="Rp"
                  />
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="5">
                  <v-subheader>Koreksi Harga</v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="form.correction"
                    hide-details="auto"
                    dense
                    single-line
                    solo
                    min="0"
                    disabled
                    prefix="Rp"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
          <v-card class="mt-5">
            <v-container>
              <v-row dense>
                <v-col cols="5">
                  <v-subheader>Masukkan Nama</v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="formPeople.name"
                    hide-details="auto"
                    color="success"
                    label="Jhon Doe"
                    single-line
                    dense
                    outlined
                  />
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="5">
                  <v-subheader>Harga Makanan Satuan</v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="formPeople.price"
                    hide-details="auto"
                    color="success"
                    label="10.000"
                    :rules="rules"
                    single-line
                    dense
                    type="number"
                    min="0"
                    outlined
                    prefix="Rp"
                  />
                </v-col>
              </v-row>
            </v-container>
            <v-card-actions class="text-center">
              <v-spacer />
              <v-btn
                :disabled="!valid"
                :color="dataTables.length == 0 ? 'success' : 'warning'"
                small
                :depressed="true"
                @click="addPeople"
              >
                {{ dataTables.length == 0 ? 'Kalkulasi' : 'Tambah kalkulasi' }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
        <v-card class="mt-5">
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">
                    Nama
                  </th>
                  <th class="text-left">
                    Harga Satuan
                  </th>
                  <th class="text-left">
                    Harga Akhir
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(people, index) in dataTables" :key="index">
                  <td>{{ people.name }}</td>
                  <td>{{ formatMoney(people.price) }}</td>
                  <td>{{ formatMoney(people.finalPrice) }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      rules: [
        (v) => !!v || 'Harap Diisi!',
        (v) => /^[0-9.,]+$/.test(v) || 'Nilai tidak valid!'
      ],
      form: {
        subTotal: null,
        diskon: null,
        additionalFees: null,
        people: null,
        diskonMaks: null,
        diskonObtained: null,
        correction: null
      },
      formPeople: {
        name: '',
        price: ''
      },
      dataTables: []
    }
  },
  watch: {
    'form.subTotal'(after) {
      this.form.subTotal = this.formatNumber(after)
      this.form.diskonObtained =
        after
          .toString()
          .split('.')
          .join('') *
        (this.form.diskon / 100)
    },
    'form.diskon'(after) {
      this.form.diskonObtained =
        (after / 100) *
        this.form.subTotal
          .toString()
          .split('.')
          .join('')
    },
    'form.additionalFees'(after) {
      this.form.additionalFees = this.formatNumber(after)
    },
    'form.diskonMaks'(after) {
      this.form.correction =
        this.form.diskonObtained
          .toString()
          .split('.')
          .join('') -
        after
          .toString()
          .split('.')
          .join('')
      this.form.diskonMaks = this.formatNumber(after)
    },
    'form.diskonObtained'(after) {
      this.form.correction =
        after
          .toString()
          .split('.')
          .join('') - this.form.diskonMaks
      this.form.diskonObtained = this.formatNumber(after.toString())
    },
    'form.correction'(after) {
      this.form.correction = this.formatNumber(after.toString())
    },
    'formPeople.price'(after) {
      this.formPeople.price = this.formatNumber(after)
    }
  },
  methods: {
    formatNumber(number) {
      const a = number
        .split('.')
        .join('')
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      return a
    },
    formatMoney(nominal) {
      const value = nominal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      return `Rp. ${value}`
    },
    validate() {
      this.$refs.form.validate()
    },
    reset() {
      this.$refs.form.reset()
    },
    resetValidation() {
      this.$refs.form.resetValidation()
    },
    addPeople() {
      const finalPrice =
        this.formPeople.price
          .toString()
          .split('.')
          .join('') *
          ((100 -
            this.form.diskon
              .toString()
              .split('.')
              .join('')) /
            100) +
        this.form.additionalFees
          .toString()
          .split('.')
          .join('') /
          this.form.people +
        this.form.correction
          .toString()
          .split('.')
          .join('') /
          this.form.people
      this.dataTables.push({
        name: this.formPeople.name,
        price: this.formPeople.price,
        finalPrice: finalPrice.toFixed(0)
      })
      this.formPeople.name = ''
      this.formPeople.price = ''
    }
  }
}
</script>
